<body>
<h3><div class="search">Search Results</h3>

<% @results.each do |soda_data| %>
<div class="Procedure">
    <b><div class="hospital"><%= soda_data.operations.last.provider.name %></b>
     <h5 class="subheader"><div class="operation"><%= soda_data.procedure %></h5> 
     <h5 class="subheader"><div class="medicare">The average Medicare pays - <%= number_to_currency(soda_data.total_payment) %></h5>
      <h5 class="subheader"><div class="red">Hospital Bill - <%= number_to_currency(soda_data.average_covered) %></div></h5>  
      
  </div>
<%end%>
</body>



<%= link_to 'home', '/' %>
 <%= will_paginate @results %>