<!DOCTYPE html>
<html>
<head>
  <title>Hospital</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="search-box">
    <%= form_tag search_hospital_pricings_path do %>
      <%= text_field_tag :procedures, nil, :id => "search_box" %>
      <%= submit_tag "Search" %>  
    <% end %>
</div>
<%= yield %>

</body>
</html>
